* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 680px;
  height: 720px;
}

.calendar-body {
  display: flex;
}

.time-container {
  display: flex;
  flex-direction: column;
}

.time {
  height: 60px;
  width: 60px;
}

.sub-container {
  color: white;
}

.row {
  display: flex;
  height: 60px;
}

.event {
  background-color: skyblue;
  border: 1px solid black;
}
